body{
    display: flex;
    background-color:rgba(238, 130, 238,0.5);
}

.contenedor{
    
    margin:0 auto;
    width: 100%;
}

.principal{
    background-color:rgba(168,81,158,0.5);
    padding: 2px;
    
}

.header{
    display: flex;
}

.nombre{
    margin-left: 40px;
    width: 200%;
    font-family:cursive; 
    padding-top: 30px;

}
